@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
	.__cs-grid-stack {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.__cs-grid-stack > *, .__cs-grid-stack::before, .__cs-grid-stack::after {
		grid-area: 1 / 1 / 2 / 2;
	}

	.__cs-bg-transparency-grid {
		background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
		background-size: 8px 8px;
		background-position: 0 0, 0 4px, 4px -4px, -4px 0px;
	}

	.__cs-rounded-group > :first-child {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
	.__cs-rounded-group > :last-child {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
	.__cs-rounded-group > *:not(:first-child):not(:last-child) {
		border-radius: 0 !important;
	}

	.__cs-border-group > *:not(:last-child) {
		border-right: 0 !important;
	}

	.__cs-square-only-child > :only-child {
		border-radius: 0 !important;
	}
}